body {
    width: 1800px;
    height: 100%;
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(197, 188, 180);
}

a:hover {
    color: purple;
    text-decoration: underline;
    cursor: pointer;
}

#head {
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 36px;
    line-height: 36px;
    position: relative;
}

.tou1_fu {
    font-size: 10px;
    height: 40px;
    width: 600px;
    float: left;
}


.gray {
    color: rgb(197, 188, 180);
}

.huanYing {
    font-size: 10px;
    width: 500px;
    margin-left: 150px;
    color: rgb(197, 188, 180);
}

.login {
    margin-left: 30px;
}

.dingDan {
    font-size: 10px;
    color: rgb(197, 188, 180);
    height: 36px;
    width: 800px;
    float: right;
    margin-right: 100px;
}

.a1 {
    width: 14px;
    height: 13px;
    line-height: 36px;
    margin: 12px 0 0 -6px;
    float: left;
    background: url(../img/icon_list.png) no-repeat 0 -38px;
    position: absolute;
}

#gouWuChe {
    float: left;
    margin-left: 120px;
}

#logo1 {
    margin-top: 25px;
    margin-left: 10px;
    width: 497px;
    height: 29px;
    float: left;
}

#input_id {
    overflow: hidden;
    width: 504px;
    height: 40px;
    border: 3px solid purple;
    margin-top: 20px;
    float: left;
}

.input1 {
    border: 2px none purple;
    width: 400px;
    height: 41px;
}

.input_div1 {
    overflow: hidden;
    font-size: 12px;
    color: #8c8c8c;
    font-weight: bold;
    line-height: 30px;
    width: 500px;
    position: relative;
    left: -510px;
}

.button1 {
    font-weight: bold;
    background-color: rgb(148, 25, 63);
    width: 100px;
    height: 42px;
    color: white;
    margin-left: -5px;
    border: 0 none black;
    float: right;
}

.button1 div {
    margin-left: 34px;
    line-height: 42px;
    /* 垂直居中需要和行高配合 */
}

.button1:hover {
    color: white;
    text-decoration: none;
}

.a2 {
    width: 40px;
    height: 60px;
    line-height: 36px;
    float: left;
    background: url(../img/icon_list.png) no-repeat -180px -700px;
    position: absolute;
    margin: -20px 0 0 15px;
}

.a2_logo {
    background: url(../img/icon_list.png) no-repeat -226px -735px;
    width: 18px;
    height: 18px;
    position: relative;
    top: -45px;
    left: 110px;
}

.a2_logo span {
    margin-top: 10px;
    margin-left: 6px;
    position: relative;
    top: -5px;
    font-size: 12px;
}

#shop2 {
    background-color: rgb(249, 249, 249);
    width: 150px;
    height: 42px;
    border: 1px solid gray;
    border-radius: 1%;
    margin-top: 19px;
    margin-right: 400px;
    float: right;
}

#zuoCe {
    height: 100%;
    width: 40px;
    background-color: #444851;
    color: white;
    font-size: 13px;
    position: fixed;
    top: 0;
    right: 0;
}

.line1 {
    width: 100%;
    height: 1px;
    background: #575A62;
    margin-bottom: 15px;
    position: relative;
    top: 60px;
}

.line2 {
    width: 100%;
    height: 1px;
    background: #575A62;
    margin-bottom: 15px;
    position: relative;
    top: 100px;
}

#zuoCe .zuoCe1 {
    background: url(../img/icon_list.png) no-repeat -200px -410px;
    width: 20px;
    height: 25px;
    position: relative;
    top: 60px;
    left: 10px;
}

.zuoCe1_p {
    position: relative;
    top: 60px;
    left: 6px;
}

#zuoCe .zuoCe2 {
    background: url(../img/icon_list.png) no-repeat -80px -0px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 80px;
    left: 5px;
}

.zuoCe2_p {
    width: 20px;
    position: relative;
    top: 80px;
    left: 14px;
}

.zuoCe2_circle {
    background: url(../img/icon_list.png) no-repeat -85px -64px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 80px;
    left: 10px;
}

.zuoCe2_circle_p {
    position: relative;
    top: 45px;
    left: 16px;
}

#zuoCe .zuoCe3 {
    background: url(../img/icon_list.png) no-repeat -80px -187px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 110px;
    left: 5px;
}

.zuoCe3_p {
    position: relative;
    top: 110px;
    left: 6px;
}

.line3 {
    width: 100%;
    height: 1px;
    background: #575A62;
    margin-bottom: 15px;
    position: relative;
    top: 110px;
}

.erWeiMa {
    background: url(../img/icon_list.png) no-repeat -170px 0;
    width: 25px;
    height: 25px;
    position: relative;
    top: 200px;
    left: 10px;
}

.keFu {
    background: url(../img/icon_list.png) no-repeat -170px -59px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 230px;
    left: 9px;
}

.chuanSon {
    background: url(../img/icon_list.png) no-repeat -80px -250px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 260px;
    left: 8px;
}

.neiRong1 {
    font-weight: bold;
    color: white;
    width: 200px;
    height: 40px;
    background-color: darkred;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
}

.neiRong1_div {
    background: url(../img/icon_list.png) no-repeat -36px -128px;
    width: 25px;
    height: 16px;
    position: relative;
    left: 170px;
    top: 19px;
}

.neiRong1_p {
    position: relative;
    left: 60px;
    top: -24px;
}

.neiRong2 {
    color: red;
    font-weight: bold;
    float: left;
    width: 150px;
    height: 38px;
    margin-top: 20px;
}

.neiRong2 p {
    position: relative;
    left: 60px;
    top: -8px;
}

.neiRong3 {
    color: black;
    font-weight: bold;
    float: left;
    width: 150px;
    height: 38px;
    margin-top: 20px;
}

.neiRong3 p {
    position: relative;
    left: 45px;
    top: -8px;
}

.neiRong4 {
    color: black;
    font-weight: bold;
    float: left;
    width: 150px;
    height: 38px;
    margin-top: 20px;
}

.neiRong4 p {
    position: relative;
    left: 45px;
    top: -8px;
}

.neiRong5 {
    color: black;
    font-weight: bold;
    float: left;
    width: 150px;
    height: 38px;
    margin-top: 20px;
}

.neiRong5 p {
    position: relative;
    left: 45px;
    top: -8px;
}

#jingXuan {
    margin-top: 58px;
    border-top: 2px solid red;
}

#jingXuan .redJingXuan {
    background-color: rgb(200, 22, 35);
    color: white;
    font-weight: bold;
    margin-left: 60px;
    width: 198px;
    line-height: 16px;
    border: 1px solid gray;
    position: relative;
}


.redJingXuan:hover #jingXuanExmable {
    background-color: white;
    color: red;
}

.list_top_1 {
    position: absolute;
    top: 209px;
    left: -200px;
    z-index: -1;
}

.redJingXuan .jingXuanExmable {
    line-height: 13px;
    font-size: 13px;
    color: black;
    background-color: #444851;
    width: 140px;
    padding-left: 20px;
    position: absolute;
    left: 195px;
    display: none;
    /* float: left; */
}

#jingXuan .redJingXuan:hover {
    background-color: white;
    color: red;
}


.redJingXuan:hover .jingXuanExmable {
    display: block;
    position: absolute;
    top: -2px;
    left: 199px;
}

.logo3 {
    background: url(../img/vedio_icon_list.png) no-repeat scroll -181px -183px;
    float: left;
    height: 37px;
    width: 31px;
}

#bottom {
    background-color: antiquewhite;
}

#bottom .bottom1 {
    margin-left: 100px;
}

#bottom .bottom1 b {
    line-height: 60px;
    font-size: 32px;
    font-weight: lighter;
}

#bottom .bottom1 hr {
    margin: 0;
    width: 1200px;
}

#bottom table {
    margin-left: 60px;
}

#bottom .bottom2 tr td img {
    width: 280px;
    height: 280px;
    border: 1px solid gray;
}

#bottom .bottom2 tr td:hover img {
    border: 1px solid red;
}

#diBu .diBu1 {
    margin-top: 40px;
    margin-left: 100px;
}

#diBu .diBu1 dl {
    float: left;
    margin-left: 80px;
}

#diBu .diBu1 dt {
    font-size: 16px;
    font-weight: normal;
    height: 31px;
    color: black;
}

#diBu .diBu1 dd {
    font-size: 14px;
    font-weight: normal;
    height: 31px;
    color: #666666;
    margin-left: 0;
}

#diBu .diBu1 dd:hover a {
    text-decoration: none;
    color: gray;
}

#diBu .diBu2 {
    margin-left: 100px;
}

#diBu .diBu2 li {
    float: left;
}

/* .test {
	border: 1px solid red;
	background: url(../img/icon_list.png) no-repeat -226px -735px;
	width: 18px;
	height: 18px;
} */