<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="false">
    <!--############################################################-->
    <!--    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
    <!--    xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
    <!--    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
    <!--    version="3.1"-->
    <!--    metadata-complete="true">-->
    <!--    这玩意害人不浅，3.1版本metadata-complete="true"应该为false-->
    <!--    不然直接System.out.print都没法用，servlet没法运行，404头疼-->
    <!--    这边建议直接用4.0+高版本的web-app-->
    <!--############################################################-->
    <display-name>Welcome to Tomcat</display-name>
    <description>
        Welcome to My First Jsp Project
    </description>
    <!-- 初始化页面地址 -->
    <welcome-file-list>
        <welcome-file>1.4login.jsp</welcome-file>
        <welcome-file>1.0JSP入门_qwq.jsp</welcome-file>
    </welcome-file-list>
</web-app>